*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(253, 251, 251);
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
    font-size: medium;
    line-height: normal;
    padding: 30px ;
    margin: 0px;
    border: 3px solid red;
}

#cabecalho {
    top: 0;
    position: fixed;
    background: rgb(0, 0, 22);
    width: 100%;
    text-align: center;
    z-index: 1;
    border: 3px solid red;
    color: white;
    left: 0;

}
#minha_foto {

    border-radius:100%;
    width: 200px;
}  
#section_perfil {
    text-align: center;
    
}
aside {
    text-align: center;
    font-size: large;
}

main {
    position: relative;
    width: 100%;
    top: 100px;
    
}
table,tr,td {
    border: 3px solid black;
}
#rodape {
    background: grey;
    position: absolute;
    bottom: 0px;
    border: 3px solid red;
    width: 100%;
   
}